
/*
.diamond {
 
    --size: 50px;
    --quarter-size: calc(var(--size) / 4);
  
    border-style: solid;
    border-color: transparent transparent #333 transparent;
    border-width: 0 var(--quarter-size) var(--quarter-size) var(--quarter-size);
    height: 0;
    width: calc(var(--size) / 2);
    box-sizing: content-box;
    position: relative;
    margin: 0 0 calc(var(--size) / 2) 0;
  }
  .diamond:after {
    content: "";
    position: absolute;
    top: var(--quarter-size);
    left: calc(var(--quarter-size) * -1);
    width: 0;
    height: 0;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
    border-width: calc(var(--size) * 0.7) calc(var(--size) / 2) 0 calc(var(--size) / 2);
.moon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 9px 9px 0 0 #333;
  margin-left: -25px;
  margin-top: -25px;
}
.tv-screen {
  position: relative;
  width: 50px;
  height: 40px;
  background: #333;
  border-radius: 50% / 10%;
  color: white;
  text-align: center;
}

.tv-screen:before {
  content: '';
  position: absolute;
  top: 10%;
  bottom: 10%;
  right: -5%;
  left: -5%;
  background: inherit;
  border-radius: 5% / 50%;
}
 }*/
  
body, html {
    margin: 0;
    padding: 0;
    font-family: "MedievalSharp";
    background-color: #000;
    color: #fff;
}

header {
    background-color: #000;
   
}
/* nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    
    margin-right: 20px;
    text-decoration: none;
    color: #77ff00;
    font-size: 18px;
}

nav ul li a {
    text-decoration: none;
    color: #ffd700;
    font-size: 18px;
} */

header h1 {
    text-align: center;
    color: #ffd700;
    font-size: 36px;
    margin-bottom: 10px;
   
}
header .search{
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

 

    
    
    


.container {
    height: 55vh;
   
}

.box {
    background-color: #0d0d0d;
    color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 3px solid #000;
    box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
}

.box h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 15px;
    color: #ffd700;
}
.yin-yang {
    width: 50px;
    box-sizing: content-box;
    height: 25px;
    background: #fff;
    border-color: #333;
    border-style: solid;
    border-width: 2px 2px 26px 2px;
    border-radius: 100%;
    position: relative;
  }
  .yin-yang:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    background: #fff;
    border: 9.4px solid #333;
    border-radius: 100%;
    width: 6.25px;
    height: 6.25px;
    box-sizing: content-box;
  }
  .yin-yang:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background: #333;
    border: 9.4px solid #fff;
    border-radius: 100%;
    width: 6.25px;
    height: 6.25px;
    box-sizing: content-box;
  }


.footer {
    background-color: #020202!important;
    padding: 20px 0;
}



.links a {
    text-decoration: none;
    color: #ffd700;
    margin: 0 5px;
}

.hero {
    background-image:url(./assets/images/IMG_1548.JPG)
}

.search img{
    height: 20px;
    width: 20px;

}